li {
  display: inline;
  margin: 0;
  padding: 10px;
  height: inherit;
  font: 1em sans-serif;
  width: auto; /* Changed from 4px to auto for better layout */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added values for text-shadow */
}

ul {
  text-align: center;
}

a {
  color: #00ff00;
}

section {
  text-align: left;
  margin: 20px;
  padding: 10px;
}

a:hover {
  background-color: red;
}

footer {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: red;
}

p {
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

body {
  background: linear-gradient(
    108.6deg,
    rgb(92, 30, 249) 19%,
    rgb(14, 198, 183) 91.7%
  );
}

img {
  display: flex; /* Changed to display: flex; */
  flex-direction: column; /* This property is now valid */
  justify-content: center;
  z-index: 0;
  box-sizing: content-box;
  margin: 1%;
  padding: 10%;
}

.hero-text {
  text-align: center;
  /* Removed incomplete property */
}

/* CSS for button */
button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none; /* Fixed vendor prefix */
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

main {
  justify-content: center;
  margin-top: 25%;
  padding-left: 25%;
  padding-right: 25%;
}
